In [8]:
import pandas as pd

data source: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

             https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet 

data guide: https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

In [5]:
import pyarrow.parquet as pq

# Read Parquet file
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')
table = parquet_file.read()

# Convert to Pandas DataFrame
df = table.to_pandas()

# Save as CSV
df.to_csv('yellow_tripdata_2021-01.csv', index=False)

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [15]:
# convert the pandas to DDL (data definition language)
# this just creates the code for us
pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" FLOAT(53), \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53), \n\tairport_fee FLOAT(53)\n)\n\n'

In [16]:
# we have to create chuncks to insert them into the DB
# we use an iterator to go over all the file chunk by chunk
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
# insert the rows in the table mentioned
# if a table already exists it will drop it and replace it
# create the table, do not insert anything yet
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:

# if a table already exists it will append it
# %time says how much time it took the instruction to run
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 7.25 s
Wall time: 14.8 s

1000

In [20]:
from time import time

In [21]:
#not good practice

while True:
    t_start = time()

    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    #%.3f this is a float with 3 decimal
    print('inserted another chunck..., took %.3f second' %(t_end-t_start))

inserted another chunck..., took 14.352 second
inserted another chunck..., took 14.178 second
inserted another chunck..., took 14.429 second
inserted another chunck..., took 16.581 second
inserted another chunck..., took 14.853 second
inserted another chunck..., took 14.836 second
inserted another chunck..., took 13.856 second
inserted another chunck..., took 14.276 second
inserted another chunck..., took 15.657 second
inserted another chunck..., took 16.418 second
inserted another chunck..., took 14.697 second

C:\Users\mario\AppData\Local\Temp\ipykernel_17308\1911947768.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunck..., took 13.535 second
inserted another chunck..., took 10.101 second

StopIteration: